version: '3.8'

services:
  superadmin_frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: superadmin_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - superadmin_backend
    networks:
      - app_network

  superadmin_backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: superadmin_backend
    restart: always
    network_mode: host
    environment:
      - MONGO_URL=mongodb://localhost:27017
      - DB_NAME=superadmin_db
      - JWT_SECRET=${JWT_SECRET:-fleetease_super_secret_key_2024}
      - PORTAINER_URL=${PORTAINER_URL:-https://localhost:9443}
      - PORTAINER_API_KEY=${PORTAINER_API_KEY:-ptr_XwtYmxpR0KCkqMLsPLGMM4mHQS5Q75gupgBcCGqRUEY=}
      - PORTAINER_ENDPOINT_ID=${PORTAINER_ENDPOINT_ID:-3}
      - FRONTEND_URL=${FRONTEND_URL:-http://72.61.158.147:3000}
      - HOSTINGER_API_KEY=${HOSTINGER_API_KEY:-3zPAgUc4UEraxSljLuK7TvHD0sAmLaULtZ5cbXLb7c576163}

  superadmin_mongodb:
    image: mongo:6
    container_name: superadmin_mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongo_data:
